@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: #ecf0f3; */
    color: #3c3e41;
}
*:focus {
    outline: none;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #ecf0f3;
}
.wrapper{
    height: 2000px;
    /* background: #ecf0f3; */
}

/* Begin Header */

.elements-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#header{
    background-color: #ecf0f3;
    padding: 0 60px;
    height: 122px;
    box-sizing: border-box;
    transition: all 0.4s ease;
}

.header-fixed{
    height: 90px ;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
}

.members-logo{
    width: 15%;
    padding: 0 20px;
    opacity: 0.4;
}

.members-logo-active{
    opacity: 1 !important;
}

.members-logo:hover{
    opacity: 1;
}

.menu{
    width: 60%;
    padding-left: 50px;
}

.nav-bar{
    width: 100%;
}

.nav-bar li{
    width: 16%;
    height: 50px;
    list-style-type: none;
    background: transparent;
}

.nav-bar li a{
    font-family: 'Montserrat', sans-serif;
    color: #3C3E41;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    opacity: 0.9;
    letter-spacing: 0.5px;
}

.nav-bar .active{
    color: #ff014f;
    opacity: 1;
    background: transparent;
}

.buy-btn{
    width: 10%;
    height: 51px;
    border-radius: 6px;
    background: linear-gradient(145deg,#e2e8ec,#fff);
    box-shadow: 5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
}

.buy-btn a{
    
    color: #ff014f;    
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 51px;
    width: 100%;
    text-align: center;
    border-radius: 6px;
}

.buy-btn>a>span{
    color: #ff014f;
}

.buy-btn:hover a{
    color: #FFF;
    background-color: #ff014f;
    transition: 0.8s;
    transform: translateY(-3px);
}

.buy-btn:hover span{
    color: #fff
}


/* END HEADER */

/* BEGIN MAIN */
/* Begin Home */
.home{
    width: 1310px;
    height: 708px;
    /* display: flex; */
	flex-direction: column;
	justify-content: center;
	padding: 10px;
	margin: 10px auto;
    /* background-color: red; */
    margin-top: 150px;
    position: relative;
}
.home-left{
    /* background-color: aqua; */
    height: 550px;
    width: 764px;
}
.home-left>span{
    font-family: 'Montserrat', sans-serif;
    display: block;
}
.home-right{
    /* background-color: chartreuse; */
    width: 545px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.subtitle{
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 3px;
}
.titlemain{
    font-size: 60px;
    font-weight: 700;
    line-height: 75px;    
    margin-top: 30px;
}

.titleweight{
    font-family: 'Montserrat', sans-serif;
    color: #FF014F;
    font-size: 60px;
    font-weight: 700;
    line-height: 75px;
}
.typing{
    color: #1E2125;
    font-size: 48px;
    font-weight: 600;
    line-height: 57px;
}
.home-left>ul{
    list-style-type: none;
    color: #3c3e41;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
}

.home-left>p{
    color: #3c3e41;
    font-size: 16px;
    /* font-weight: 550; */
    font-family: 'Poppins', sans-serif;
}
.home-left>p>span{
    color: #FF014F;
    font-style: italic;
}
.home-left-findme{
    width: 50%;
    height: 200px;
    float: left;
}
.home-left-bottom{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-top: 50px;
}
.home-left-bestskills{
    width: 50%;
    height: 200px;
    float: right;
}
.home-left-bestskills>span{
    font-family: 'Poppins', sans-serif;
    color: #1E2125;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
}
.home-left-findme>span{
    font-family: 'Poppins', sans-serif;
    color: #1E2125;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
}
.home-left-findme>ul>li>a>button{
    height: 60px;
    width: 60px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(145deg,#e2e8ec,#fff);
    box-shadow: 5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
    cursor: pointer;
}
.home-left-findme>ul>li>a>button:hover{
    color: #fff;
    background: #FF014F;
    transition: .7s;
}

.home-left-findme>ul>li{
    display: inline-block;
    margin-left: 20px;
    margin-top: 15px;
}
.home-left-findme>ul>li>a>button:hover .fa-brands{
    background-color: #FF014F;
    transition: .7s;
    color: #fff;
}
.fa-brands{
    font-size: 25px;
}
.home-left-bestskills>ul>li>a>button{
    height: 60px;
    width: 60px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(145deg,#e2e8ec,#fff);
    box-shadow: 5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
    cursor: pointer;
}
.home-left-bestskills>ul>li>a>button:hover{
    color: #fff;
    background: #FF014F;
    transition: .7s;
}
.home-left-bestskills>ul>li{
    display: inline-block;
    margin-left: 20px;
    margin-top: 15px;
}
.home-left-bestskills>ul>li>a>button:hover .fa-brands{
    background-color: #FF014F;
    transition: .7s;
    color: #fff;
}
.home-right>a>img{
    margin-left: 100px;
}

/* Begin Resume */
.resume{
    width: 100%;
    /* height: 1602px; */
    font-family: 'Montserrat', sans-serif;
    border-top: 1px solid #cacaca;
    /* margin-top: 200px; */
}
.title-center{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    /* line-height: 14px; */
    display: block;
    text-align: center;
    color: #ff014f;
    margin-top: 50px;
}
.title-center>span{
    color: #F9004D;
    line-height: 14px;
}
.title-center>h2{
    font-size: 60px;
    margin-top: 20px;
}
.resume-tab{
    margin-top: 50px;
    font-family: var(--font-primary);
    display: flex;
    justify-content: center;                                 
}
.resume-tab>ul{
    height: 86px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-decoration: none;
    width: 80%;
    display: flex;
    list-style-type: none;
    background: linear-gradient(145deg,#e2e8ec,#fff);
    border-radius: 10px;
    box-shadow: 5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
}
.resume-tab>ul>li{
    width: 25%;
    padding: 30px 0;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    background: transparent;
    transition: all .5s;
    cursor: pointer;
    border-radius: 10px;
}
.resume-tab>ul>li>a{
    text-decoration: none;
    border: none;
    background: linear-gradient(145deg,#e2e8ec,#fff);
    background: transparent;
}
.resume-tab>ul>li:hover a{
    color: #FF014F;
    transition: .5s;
    /* background: linear-gradient(145deg,#e2e8ec,#fff);
    box-shadow: 5px 5px 15px #d1d9e6,-5px -5px 15px #fff; */
    background: transparent;
}
.resume-tab .active,
.client-tab .active{
    color: #FF014F;
    border-radius: 10px;
    background: linear-gradient(145deg,#e2e8ec,#fff) !important;
    box-shadow: 5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
}
.resume-tab .active a{
    color: #FF014F;
}

.row-education{
    /* background: #F9004D; */
    /* height: 1000px; */
    padding: 0 150px 0 150px;
    margin-top: 50px;
    position: relative;
    /* display: none; */
}
.row-education>div{
    width: 50%;
}
.education-content{
    /* background: blue; */
    /* height: 1000px; */
}
.experience-content{
    position: absolute;
    top: 0;
    right: 0;
}
.subtitle{
    font-family: 'Poppins', sans-serif;
    color: #F9004D;
}
.maintitle{
    font-family: 'Montserrat', sans-serif;
    margin-top: 28px;
    font-size: 36px;
    font-weight: 700;
}
.education-quality{
    border-left: 5px solid #d9dee2;
    margin-top: 40px;
}
.job-experience{
    border-left: 5px solid #d9dee2;
    margin-top: 40px;
    width: 625px;
}
.list{
    width: 90%;
    padding: 20px;
    font-family: "Poppins",sans-serif;
    background: linear-gradient(145deg,#e2e8ec,#fff);
    box-shadow: 5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
    position: relative;
    margin: 0 0 50px 30px;
    border-radius: 6px;
}

.inner{
    width: 80%;
    padding: 20px;
    background: transparent;
}
.branch{
    width: 28px;
    height: 5px;
    background-color: #d9dee2;
    position: absolute;
    right: 100%;
    top: 63px;
    transform: translateY(-7px);
}

.branch-circle{
    border-radius: 100%;
    height: 20px;
    position: absolute;
    right: 104%;
    top: 55px;
    transform: translateY(-7px);
    transition: 0.4s;
    width: 20px;
    background: #ecf0f3;
    border: 5px solid #d9dee2;
}

.heading{
    position: relative;
    border-bottom: 2px solid #e3e9ed;
    padding-bottom: 40px;
    margin-bottom: 20px;
    background: transparent;
}
.title{
    background: transparent;
}
.edu-list-title{
    font-size: 24px;
    font-weight: 500;
}
.edu-list-time{
    font-size: 14px;
}
.edu-list-content{
    font-size: 18px;
    width: 420px;
}
.list:hover{
    background: #ff014f;
    transition: .7s;
}
.list:hover .edu-list-title{
    color: #fff;
    transition: .7s;
}
.list:hover .edu-list-time{
    color: #fff;
    transition: .7s;
}
.list:hover .date-and-time{
    background: #ff014f;
    transition: .7s;
}
.list:hover .branch-circle{
    background: #ff014f;
    transition: .7s;
}
.list:hover .date-and-time>span{
    color: #fff;
    transition: .7s;
}
.list:hover p{
    color: #fff;
    transition: .7s;
}


.date-and-time{
    position: absolute;
    background: #fff;
    box-shadow: 5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
    color: #F9004D;
    display: block;
    font-size: 14px;
    font-weight: 540;
    height: 36px;
    line-height: 36px;
    padding: 0 15px;
    transition: 0.4s;
    border-radius: 6px;
    top: 20px;
    right: -100px;
}
.date-and-time>span{
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    color: #F9004D;
}
.skils{
    padding: 0 150px 0 150px;
    margin-top: 50px;
    position: relative;
}
.skils>div{
    /* width: 50%; */
}
.column-left{
    width: 600px;
}
.column-right{
    position: absolute;
    top: 0;
    margin-left: 700px;
    width: 600px;
}
.bars{
    margin-top: 25px;
}
.info{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info>span{
    font-family: "Poppins",sans-serif;
    font-size: 14px;
    color: #1E2125;
    text-decoration: none solid rgb(30, 33, 37);
    font-weight: 500;
}
.line{
    height: 10px;
    width: 100%;
    background: lightgray;
    border-radius: 10px;
    position: relative;
}
.line::before{
    content: "";
    position: absolute;
    height: 6px;
    width: 80%;
    top: 0;
    left: 0;
    background: linear-gradient(145deg,#ffffff,rgba(255, 35, 83, 0.849));
    border-radius: 8px;
    border: #d1d9e6 solid ;
}
.photoshot::before{
    width: 85%;
}
.figma::before{
    width: 95%;
}
.adobexd::before{
    width: 60%;
}
.adobei::before{
    width: 70%;
}
.design::before{
    width: 90%;
}

/* Client */
.container{
    margin-bottom: 300px;
}
.client{
    margin-bottom: 300px;
}
.title-client{
    width: 1000px;
}
.title-text-left-client{
    height: 150px !important;
}
.tab-card-client{
    display: flex;
}
.client-tab{
    width: 400px;
    /* background: red; */
    height: 920px;
    margin-top: 30px;
}
.client-card{
    margin-left: 30px;
    width: 870px;
    height: 920px;
    display: flex;
}
.client-tab>ul{
    background: linear-gradient(145deg,#e2e8ec,#fff);
    border-radius: 10px;
    box-shadow: 5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
}
.client-tab>ul>li{
    font-family: "Poppins",sans-serif;
    font-size: 18px;
    line-height: 27px;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    /* background: linear-gradient(145deg,#e2e8ec,#fff); */
    cursor: pointer;
    border-radius: 10px;
    /* box-shadow: 5px 5px 15px #d1d9e6,-5px -5px 15px #fff; */
}
.client-tab>ul>li:hover{
    background: linear-gradient(145deg,#e2e8ec,#fff);
    box-shadow: 5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
    transition: .4s;
}

.thumbnail{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 210px;
    position: relative;
    background: linear-gradient(145deg,#e2e8ec,#fff);
    box-shadow: 5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 30px;
}
.thumbnail>a{
    margin-bottom: 60px;
}
.client-name{
    font-family: "Poppins",sans-serif;
    font-size: 18px;
    line-height: 27px;
    color: #3c3e41;
    width: 100%;
    height: 48px;
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #cacaca;
}
.client-name>span{
    margin-top: 7px;
}
.client-name>span>a{
    text-decoration: none;
}

/* Pricing */
.pricing, .client{
    font-family: 'Montserrat', sans-serif;
    padding: 0 150px 0 150px;
    margin-top: 250px;
    height: 1000px;
    position: relative;
    border-top: 1px solid #cacaca;
}
.content-title>h2{
    font-size: 60px;
    margin-top: 20px;
}
.title-text-left{
    /* background: #F9004D; */
    height: 1000px;
    width: 40%;
    margin-top: 90px;

}
.pricing-right{
    /* background: blue; */
    height: 850px;
    margin-right: 100px;
    margin-top: 90px;
    position: absolute;
    top: 0;
    right: 0;
    width: 724px;
    /* background: linear-gradient(145deg,#e2e8ec,#fff);
    box-shadow: 5px 5px 15px #d1d9e6,-5px -5px 15px #fff; */
}
.tabpricing>ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 724px;
}
.tabpricing>ul>li{
    width: 33.3%;
}
.pricing-header{
    padding: 60px 50px 60px 50px;
    margin-top: 35px;
    position: relative;
    background: transparent;
}
.pricing-header>h2{
    background: transparent;
}
.pricing-header>span{
    background: transparent;
}
.price{
    font-family: "Poppins",sans-serif;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 63px;
    width: 154px;
    top: 60px;
    right: 50px;
    color: #F9004D;
    background: linear-gradient(145deg,#e2e8ec,#fff) !important;
    box-shadow: 5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
    border-radius: 8px;
    font-size: 30px;
    font-weight: 500px;
}
.pricing-infor{
    background: linear-gradient(145deg,#e2e8ec,#fff);
    box-shadow: 5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
    height: 780px;
    border-radius: 5px;
}
.pricing-infor>p{
    font-size: 18px;
    height: 60px;
    width: 524px;
    margin-left: 50px;
    background: transparent;
}
.check-wrapper{
    background: transparent;
    display: flex;
}
.check-left{
    background: transparent;
}
.check-right{
    background: transparent;
    margin-left: 90px;
}
.check{
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 18px;
    background: transparent;
}
.check>p{
    margin-left: 9px;
    background: transparent;
}
.fa-check{
    color: #F9004D;
    background: transparent;
}
.check-wrapper{
    margin-top: 30px;
    background: transparent;
}
.pricing-footer{
    background: transparent;
}
.btn-order{
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 66px;
    width: 624px;
    margin-top: 100px;
    background: linear-gradient(145deg,#e2e8ec,#fff) !important;
    box-shadow: 5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
    border-radius: 8px;
}
.btn-order>span{
    color: #F9004D;
    font-weight: 500;
    font-size: 16px;
}
.fa-arrow-right{
    margin-left: 10px;
    color: #F9004D;
}
.btn-order:hover {
    background: #F9004D !important;
    transition: .5s;
}
.btn-order:hover span{
    color: #ecf0f3;
    background: transparent;
}
.btn-order:hover .fa-arrow-right{
    color: #ecf0f3;
    background: transparent;
    transition: .7s;
}
.time-line{
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 20px;
}
.time-line-left{
    background: transparent;
}
.time-line-left>svg{
    background: transparent;
}
.time-line-left>span{
    background: transparent;
}
.time-line-right{
    margin-left: 20px;
    background: transparent;
}
.time-line-right>svg{
    background: transparent;
}
.time-line-right>span{
    background: transparent;
}

/* Blog */
.blog{
    border-top: 1px solid #cacaca;
    margin-top: 50px;
    width: 100%;
}
.container-blog{
    /* height: 400px !important; */
}
.list-blog{
    margin-left: 150px;
    margin-top: 50px;
    display: flex;
    width: 80%;
}
.blog-item{
    height: 465px;
    width: 33.3%;
    background: linear-gradient(145deg,#e2e8ec,#fff) !important;
    box-shadow: 5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 30px;
    /* overflow: hidden; */
}
.blog-item>img{
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 20px;
    transition: all 1s;
}

.category-infor, .title-blog{
    margin-left: 30px;
    margin-top: 30px;
}
.category-infor{
    font-family: "Poppins",sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 19.5px;
    color: #3c3e41;
    width: 90%;
    position: relative;
}
.category-infor>a{

    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 1px;
    color: #FF014F;
    text-decoration: none;
}
.category-infor>span{
    position: absolute;
    right: 0;
}

.title-blog{
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    position: relative;
}
.title-blog>a{
    text-decoration: none;
    font-size: 23px;
    font-weight: 600;
    line-height: 34px;
    color: #1E2125;
    position: relative;
}
.title-blog>a>svg{
    display: none;
}
.title-blog>a:hover{
    color: #FF014F;
    transition: .5s;
}
.title-blog>a:hover svg{
    display: block;
    position: absolute;
    left: 80px;
    top: 38px;
}

.blog-page{
    width: 80%;
    height: 1500px;
    background: linear-gradient(145deg,#e2e8ec,#fff) !important;
    box-shadow: 5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
    border-radius: 10px;
    margin-left: 150px;
    z-index: 999;
    /* position: fixed; */
    position: absolute;
    top: 4600px;
}
.blog-page>img{
    width: 90%;
    height: 55%;
    margin-left: 63px;
    margin-top: 60px;
    border-radius: 10px;
}
.container-blog-page{
    font-family: "Poppins",sans-serif;
    margin-left: 63px;
    margin-top: 40px;
    width: 90%;
}
.container-blog-page>p:first-child{
    font-weight: 500;
}
.container-blog-page>h3{
    font-size: 30px;
    margin-top: 20px;
}
.btn-close-bp{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 10px;
    background: linear-gradient(145deg,#e2e8ec,#fff) !important;
    box-shadow: 5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
    cursor: pointer;
}
.fa-xmark{
    color: #FF014F;
}
.btn-close-bp:hover{
    background: #ff014f !important;
    transition: .7s;
}
.btn-close-bp:hover .fa-xmark{
    color: #fff;
    transition: .7s;
}
/* .container-blog-page>h3{
    margin-top: 20px;
} */
.background{
    background: #ecf0f3;
    height: 100%;
    width: 100%;
    z-index: 5;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

}

/* Contact */
.contact{
    /* height: 1000px; */
    /* background: red; */
    position: relative;
    border-top: 2px solid #e3e9ed;
}
.contact-area{
    /* background: blue; */
    height: 800px;
    width: 512px;
    background: linear-gradient(145deg,#e2e8ec,#fff) !important;
    box-shadow: 5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
    border-radius: 8px;
    margin-left: 130px;
}
.contact-area, .contact-form{
    margin-top: 50px;
}
.contact-area>img{
    border-radius: 8px;
    margin-left: 25px;
    margin-top: 30px;
}
.title-area{
    margin-left: 25px;
    margin-top: 25px;
}
.title-area>h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 29px;
    color: #1E2125;
}
.title-area>span{
    font-family: "Poppins",sans-serif;
    font-size: 18px;
    color: #3c3e41;
    margin-top: 50px;
}
.description{
    font-family: "Poppins",sans-serif;
    font-size: 18px;
    color: #3c3e41;
    margin-left: 25px;
    margin-top: 25px;
}
.description>span{
    display: block;
}
.phone{
    margin-top: 25px;
}
.phone>a:hover{
    color: #FF014F;
    text-decoration:underline #FF014F;
    transition: .7s;
}
.mail>a:hover{
    color: #FF014F;
    text-decoration:underline #FF014F;
    transition: .7s;
}
.description>span>a{
    text-decoration: none;
}
.find{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #1E2125;
    margin-left: 25px;
    margin-top: 40px;
}


.contact-form{
    background: green;
    height: 800px;
    position: absolute;
    width: 680px;
    top: 112px;
    right: 150px;
    background: linear-gradient(145deg,#e2e8ec,#fff) !important;
    box-shadow: 5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
    border-radius: 8px;
    margin-top: 100px;
}

.form-name-phone, .form-email, .form-subject, .form-message{
    margin-top: 25px;
    margin-left: 25px;
    display: flex;
}
.form-group{
    margin-left: 20px;
}
.form-group>label{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    color: #3c3e41;
}
.form-control{
    display: block;
}
.form-control{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1px;
    height: 55px;
    width: 290px;
    border-radius: 8px;
    color: #3c3e41;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #DADADA;
    margin-top: 10px;
}
.error{
    font-family: 'Montserrat', sans-serif;
    color: #FF014F;
    font-size: 18px;
    font-weight: 600 ;
    display: none;
}
.error_show{
    color: #FF014F;
}
.form-control:focus,
.form-control1:focus,
.textField:focus{
    border: 2px solid #FF014F;
}
.form-control1{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1px;
    height: 55px;
    width: 600px;
    border-radius: 8px;
    color: #3c3e41;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #DADADA;
    margin-top: 10px;
    display: block;
}

textarea{
    font-family: 'Montserrat', sans-serif;
    height: 235px;
    width: 600px;
    resize: none;
    border-radius: 8px;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1px;
    border: 2px solid #DADADA;
    border-radius: 8px;
    padding: 10px 20px;
    margin-top: 10px;
    display: block;
    color: #3c3e41;
}
.btn-send{
    margin-left: 45px;
    margin-top: 20px;
    height: 54px;
    width: 200px;
    background: linear-gradient(145deg,#e2e8ec,#fff) !important;
    box-shadow: 5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.btn-send>span{
    font-family: "Poppins",sans-serif;
    color: #F9004D;
    font-weight: 500;
    font-size: 14px;
}
.btn-send:hover {
    background: #F9004D !important;
    transition: .5s; 
}
.btn-send:hover span{
    color: #ecf0f3;
    background: transparent;
}
.btn-send:hover .fa-arrow-right{
    color: #ecf0f3;
    background: transparent;
    transition: .7s;
}

.btn-up>a>button{
    width: 60px;
    height: 60px;
    list-style-type: none;
    border-radius: 30px;
    border: none;
    background: #ecf0f3;
    box-shadow: 5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
    cursor: pointer;
    position: absolute;
    right: 40px;
    bottom: 120px;
    position: fixed;
}
.btn-home>a>button{
    width: 60px;
    height: 60px;
    list-style-type: none;
    border-radius: 30px;
    border: none;
    background: #ecf0f3;
    box-shadow: 5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
    cursor: pointer;
    position: absolute;
    right: 40px;
    bottom: 40px;
    position: fixed;
}
.fa-arrow-up{
    font-size: 20px;
    color: #ff014f;
  }
.fa-house{
    font-size: 25px;
    color: #ff014f;
}
.btn-up>a>button:hover ,.btn-home>a>button:hover{
    background: #ff014f;
    transition: .7s;
}
.btn-up>a>button:hover .fa-arrow-up, .btn-home>a>button:hover .fa-house{
    color: #fff;
    transition: .7s;
}

/* Begin Footer */

.footer{
    border-top: 1px solid #cacaca;
    height: 328px;
    text-align: center;
    justify-content: center;
    margin-top: 120px;
}
.logo{
    margin-top: 70px;
}
.footer>p{
    margin-top: 30px;
    font-family: "Poppins",sans-serif;
    font-size: 17px;
    line-height: 27.7px;
}
.footer>p>span>a{
    text-decoration: none;
}
.footer>p>span>a:hover{
    color: #ff014f;
    text-decoration: underline #ff014f;
    transition: .7s;
}

/* End Footer */


.btn-bar{
    display: none;
}
.fa-xmark{
    font-size: 20px;
}
.mobile-menu{
    background: linear-gradient(145deg,#e2e8ec,#fff) !important;
    box-shadow: 5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
    width: 50%;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    position: fixed;
    z-index: 2;
    /* display: none; */
}
.menu-header>a>img{
    position: absolute;
    top: 20px;
}
.menu-top>p{
    margin-top: 100px;
}
.menu-nav{
    margin-top: 100px;
}
.nav-inner>li, .nav-inner>li>a{
    text-decoration: none;
    list-style-type: none;
}
.nav-inner>li{
    margin-left: 10px;
    margin-top: 30px;
}
.btn-close{
    margin-left: 90%;
    margin-top: 20px;
    cursor: pointer;
}
.model{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    z-index: 1;
}



@media (max-width : 740px){
    .menu {
        display: none;
    }
    .buy-btn{
        display: none;
    }
    .members-logo{
    }
    .member-1{
        margin-left: -60px;
        width: 150px;
    }
    .member-1>img{
        width: 150px;
    }
    .member-2{
        margin-left: 50px;
        width: 120px;
    }
    .member-2>img{
        width: 120px;
    }
    .member-3{
        margin-left: 120px;
        width: 150px;
    }
    .member-3>img{
        width: 150px;
    }
    .btn-bar{
        margin-left: 250px;
        display: block;
    }
    .home-right{
        top: 0;
        left: 0;
    }
    .home-left{
        top: 600px;
        position: absolute;
    }
    .titleweight{
        display: block;
    }
    .home-left>p{
        width: 60%;
    }
    .home-left-bestskills{
        position: absolute;
        left: 0;
        margin-top: 140px;
    }
    .resume{
        margin-top: 800px;
    }
    .resume-tab>ul>li>a{
        font-size: 13px;
    }
    .education-content{
        margin-left: -100px;
    }
    .experience-content{
        margin-top: 1170px;
        position: absolute;
        left: 50px;
    }
     .list{
        width: 370px;
    }
     .list .inner{
        width: 60%;
    }
    .list .inner>p{
        width: 200%;
    }
    .skils{
        position: relative;
    }
    .column-left{
        margin-left: -100px;
        width: 370px;
    }
    .column-right{
        position: absolute;
        width: 370px;
        margin-left: -100px;
        margin-top: 500px;
    }
    .client{
        margin-top: 750px;
    }
}