:root {
  --color-primary: #ff014f;
  --color-secondary: #f4f5f6;
  --color-tertiary: #0d1013;
  --color-gray: #f6f6f6;
  --color-subtitle: #f9004d;
  --background-color-1: linear-gradient(145deg, #1e2024, #23272b);
  --background-color-2: #212428;
  --shadow-1: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  --shadow-2: inset 21px 21px 19px #181a1d, inset -21px -21px 19px #202225;
  --inner-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset,
    -1px -3px 3px -2px hsla(0, 0%, 100%, 0.2) inset;
  --shadow-white-3: 5px 5px 15px #d1d9e6, -5px -5px 15px #fff;
  --gradient-box-w: linear-gradient(145deg, #e2e8ec, #fff);
  --gradient-red-hover: linear-gradient(145deg, #ff014f, #d11414);
  --color-heading: #fff;
  --color-heading-wv: #1e2125;
  --color-body: #878e99;
  --color-body-white: #3c3e41;
  --color-lightn: #c4cfde;
  --color-midgray: #878787;
  --color-light: #e4e6ea;
  --color-lighter: #ced0d4;
  --color-lightest: #f0f2f5;
  --color-border: #e6e6e6;
  --color-white: #fff;
  --color-white-75: hsla(0, 0%, 100%, 0.75);
  --color-success: #3eb75e;
  --color-danger: #ff0003;
  --color-warning: #ff8f3c;
  --color-info: #1ba2db;
  --color-facebook: #3b5997;
  --color-twitter: #1ba1f2;
  --color-youtube: #ed4141;
  --color-linkedin: #0077b5;
  --color-pinterest: #e60022;
  --color-instagram: #c231a1;
  --color-vimeo: #00adef;
  --color-twitch: #6441a3;
  --color-discord: #7289da;
  --p-light: 300;
  --p-regular: 400;
  --p-medium: 500;
  --p-semi-bold: 600;
  --p-bold: 700;
  --p-extra-bold: 800;
  --p-black: 900;
  --s-light: 300;
  --s-regular: 400;
  --s-medium: 500;
  --s-semi-bold: 600;
  --s-bold: 700;
  --s-extra-bold: 800;
  --s-black: 900;
  --transition: 0.4s;
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
  --font-size-b1: 18px;
  --font-size-b2: 22px;
  --font-size-b3: 14px;
  --line-height-b1: 1.5;
  --line-height-b2: 1.6;
  --line-height-b3: 1.7;
  --h1: 70px;
  --h2: 60px;
  --h3: 50px;
  --h4: 40px;
  --h5: 30px;
  --h6: 20px;
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body {
  background-color: #ecf0f3 !important;
}

hr {
  margin-top: 10rem !important;
}
/* Common css */
.circle-white-block {
  background: linear-gradient(145deg, #e2e8ec, #fff);
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #fff;
  border-radius: 6px;
}

.border-bottom {
  border-bottom: 2px solid #cfdee7;
} 

.col-2 {
  width: 50%;
}

/* Main */
#main {
  position: relative;
}

.admin-btn {
  width: 50px;
  height: 150px;
  position: fixed;
  top: 42%;
  right: 0;
  z-index: 1;
  background-color: linear-gradient(145deg, #e2e8ec, #fff);
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #fff;
  border-radius: 6px;
}

.admin-btn a {
  height: 120px;
  color: #ff014f;
  display: block;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  margin-top: 20%;
  font-family: "Poppins", sans-serif;
}

.admin-btn a span {
  display: block;
  padding: 1px 0;
}

.admin-btn:hover {
  transition: 0.8s;
  background-color: #ff014f;
}

.admin-btn:hover a {
  color: #fff;
  transition: 0.8s;
}

/* Main */
#main {
  position: relative;
}

.admin-btn {
  width: 50px;
  height: 150px;
  position: fixed;
  top: 42%;
  right: 0;
  z-index: 1;
  background-color: linear-gradient(145deg, #e2e8ec, #fff);
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #fff;
  border-radius: 6px;
}

.admin-btn a {
  height: 120px;
  color: #ff014f;
  display: block;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  margin-top: 20%;
  font-family: "Poppins", sans-serif;
  /* font-weight: 550; */
}

.admin-btn a span {
  display: block;
  padding: 1px 0;
}

.admin-btn:hover {
  transition: 0.8s;
  background-color: #ff014f;
}

.admin-btn:hover a {
  color: #fff;
  transition: 0.8s;
}

/* Header */
#header {
  background-color: #ecf0f3;
  padding: 0 60px;
  height: 122px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  z-index: 3;
}

.header-fixed {
  height: 90px !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #fff;
}

.members-logo {
  width: 15%;
  padding: 0 20px;
  opacity: 0.4;
}

.members {
  text-decoration: none;
  color: #333;
}

.members-logo-active {
  opacity: 1 !important;
}

.members-logo:hover {
  opacity: 1;
}

.menu {
  width: 60%;
  display: flex;
  padding-left: 50px;
}

.nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
}

.nav-bar li {
  width: 16%;
  height: 50px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar li a {
  color: #3c3e41;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Archivo", sans-serif;
  font-size: 15px;
  text-align: center;
}

.buy-btn {
  width: 10%;
  height: 51px;
  border-radius: 6px;
  background: linear-gradient(145deg, #e2e8ec, #fff);
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #fff;
  display: flex;
  align-items: center;
}

.buy-btn a {
  color: #ff014f;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 51px;
  width: 100%;
  text-align: center;
  border-radius: 6px;
}

.buy-btn:hover a {
  color: #fff;
  background-color: #ff014f;
  transition: 0.8s;
  transform: translateY(-3px);
}

/* Description */
#introduce {
  position: relative;
}

.introduce-content { 
  padding: 100px 20px 100px 20px;
  display: flex;
  justify-content: space-around;
  font-family: "Montserrat", sans-serif;
}

.intro-description {
  position: relative;
  height: 500px;
  padding-top: 20px;
}

.intro-description .title {
  display: block;
  color: #3c3e41;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 5px;
}

.intro-description .first-line {
  margin: 15px 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 75px;
}

.intro-description .second-line {
  margin-bottom: 20px;
  font-size: 60px;
  font-weight: 500;
  line-height: 75px;
}

.intro-description .content {
  padding-right: 15%;
  font-size: 16px;
  text-align: justify;
  line-height: 30px;
  opacity: 0.9;
}

.find-me {
  position: absolute;
  left: 0;
  bottom: 0;
}

.best-skills {
  position: absolute;
  right: 0;
  bottom: 0;
}

.find-title,
.skills-title {
  margin-bottom: 20px;
  color: #1e2125;
  font-size: 14px;
  font-weight: 500;
  font-family: "Archivo", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
}

.find-icons,
.skills-icons {
  width: 60px;
  height: 60px;
  font-size: 20px;
  margin: 0 20px 0 -5px;
  line-height: 60px;
  display: inline-block;
  text-align: center;
  background-color: linear-gradient(145deg, #e2e8ec, #fff);
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #fff;
  border-radius: 6px;
  border: none;
}

.find-icons .fa-brands {
  width: 100%;
  height: 100%;
  color: #1e2125;
  line-height: 60px;
}

.find-icons:hover,
.skills-icons:hover {
  width: 60px;
  height: 60px;
  background: linear-gradient(145deg, #ff014f, #d11414);
  transform: translateY(-3px);
}

.find-icons:hover .fa-brands,
.skills-icons:hover .fa-brands {
  color: #fff;
  transition: 0.8s;
}

.des-img {
  margin-top: -100px;
  max-width: 414px;
  height: 600px;
  margin-left: 7%;
  background-image: url(../img/member-2/Huyen-bgr.png);
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
}

/* Resume */
.resume {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  border-top: 1px solid #cacaca;
}
.title-center {
  display: block;
  text-align: center;
  margin-top: 50px;
}
.title-center > span {
  display: block;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 14px;
  color: #ff014f;
}
.title-center > h2 {
  font-size: 60px;
  margin-top: 20px;
  color: black;
}
.resume-tab {
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
}
.resume-tab > ul {
  height: 86px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  text-decoration: none;
  width: 80%;
  display: flex;
  list-style-type: none;
  background: linear-gradient(145deg, #e2e8ec, #fff);
  border-radius: 10px;
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #fff;
}
.resume-tab > ul > li {
  width: 25%;
  padding: 30px 0;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  background: transparent;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 10px;
}
.resume-tab > ul > li > a {
  text-decoration: none;
  border: none;
  background: linear-gradient(145deg, #e2e8ec, #fff);
  background: transparent;
  color:#000;
  font-weight: normal;
} 
.resume-tab > ul > li:hover a {
  color: #ff014f;
  transition: 0.5s;
  background: transparent;
}
.active {
  color: #ff014f;
  border-radius: 10px;
  background: linear-gradient(145deg, #e2e8ec, #fff) !important;
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #fff;
}
.active a {
  color: #ff014f !important;
}

.row-education { 
  margin-top: 50px;
  position: relative;
}
.row-education > div {
  width: 50%;
}
.experience-content {
  position: absolute;
  top: 0;
  right: 0;
}
.subtitle {
  font-family: "Poppins", sans-serif;
  color: #f9004d;
}
.maintitle {
  font-family: "Montserrat", sans-serif;
  margin-top: 28px;
  font-size: 36px;
  font-weight: 900;
}
.education-quality {
  border-left: 5px solid #d9dee2;
  margin-top: 40px;
}
.job-experience {
  border-left: 5px solid #d9dee2;
  margin-top: 40px;
  width: 625px;
}
.list {
  width: 90%;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(145deg, #e2e8ec, #fff);
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #fff;
  position: relative;
  margin: 0 0 50px 30px;
  border-radius: 6px;
}

.inner {
  width: 80%;
  padding: 20px;
  background: transparent;
}
.branch {
  width: 28px;
  height: 5px;
  background-color: #d9dee2;
  position: absolute;
  right: 100%;
  top: 63px;
  transform: translateY(-7px);
}

.branch-circle {
  border-radius: 100%;
  height: 20px;
  position: absolute;
  right: 104%;
  top: 55px;
  transform: translateY(-7px);
  transition: 0.4s;
  width: 20px;
  background: #ecf0f3;
  border: 5px solid #d9dee2;
}

.heading {
  position: relative;
  border-bottom: 2px solid #e3e9ed;
  padding-bottom: 40px;
  margin-bottom: 20px;
  background: transparent;
}
.title {
  background: transparent;
}
.edu-list-title {
  background: transparent;
}
.edu-list-time {
  background: transparent;
}
.edu-list-content {
  background: transparent;
}
.date-and-time {
  position: absolute;
  background: #fff;
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #fff;
  color: #f9004d;
  display: block;
  font-size: 14px;
  font-weight: 540;
  height: 36px;
  line-height: 36px;
  padding: 0 15px;
  transition: 0.4s;
  border-radius: 6px;
  top: 20px;
  right: -100px;
}
.date-and-time > span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background: #fff;
  color: #f9004d;
}
.skills { 
  margin-top: 50px;
  position: relative;
}
.column-left {
  width: 600px;
}
.column-right {
  position: absolute;
  top: 0;
  margin-left: 700px;
  width: 600px;
}
.bars {
  margin-top: 25px;
}
.info {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info > span {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #1e2125;
  text-decoration: none solid rgb(30, 33, 37);
  font-weight: 500;
}
.line {
  height: 10px;
  width: 100%;
  background: lightgray;
  border-radius: 10px;
  position: relative;
}
.line::before {
  content: "";
  position: absolute;
  height: 6px;
  width: 80%;
  top: 0;
  left: 0;
  background: linear-gradient(145deg, #ffffff, rgba(255, 35, 83, 0.849));
  border-radius: 8px;
  border: #d1d9e6 solid;
}
.photoshop::before {
  width: 85%;
}
.figma::before {
  width: 95%;
}
.adobexd::before {
  width: 60%;
}
.adobei::before {
  width: 70%;
}
.design::before {
  width: 90%;
}
/* Clients */

.des-clients {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.2;
  font-weight: 500;
  color: #f9004d;
}
.main-clients {
  color: var(--color-body-white);
  margin-top: 15px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
}
.clients-title{
  height: 150px !important;
}
.client-tab{ 
  height: 920px; 
}
.client-tab ul{
  background: linear-gradient(145deg,#e2e8ec,#fff);
  border-radius: 10px;
  box-shadow: 5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
}
.client-tab ul li{
  font-family: "Poppins",sans-serif;
  font-size: 18px;
  line-height: 27px;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
}
.client-tab ul li:hover{
  background: linear-gradient(145deg,#e2e8ec,#fff);
  box-shadow: 5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
  transition: .4s;
}
.Box{ 
  width: 100%;
  height: 210px; 
  background: linear-gradient(145deg,#e2e8ec,#fff);
  box-shadow: 5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
  border-radius: 10px;
  margin-bottom: 30px; 
} 
.client-name{
  font-family: "Poppins",sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #3c3e41;
  width: 100%;
  height: 48px;
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #cacaca;
}
.tab1{
  display: inline;
}

/* Pricing */
.pricing {
  font-family: "Montserrat", sans-serif;
  padding: 0 150px 0 150px;
  margin-top: 100px;
  height: 1000px;
  position: relative;
  border-top: 1px solid #cacaca;
}
.content-title > h2 {
  font-size: 60px;
  margin-top: 20px;
}
.pricing-left {
  height: 1000px;
  width: 40%;
  margin-top: 90px;
}
.pricing-right {
  height: 850px;
  margin-right: 100px;
  margin-top: 90px;
  position: absolute;
  top: 0;
  right: 0;
  width: 724px;
}
.tabpricing > ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 724px;
}
.tabpricing > ul > li {
  width: 33.3%;
}
.pricing-header {
  padding: 60px 50px 60px 50px;
  margin-top: 35px;
  position: relative;
  background: transparent;
}
.pricing-header > h2 {
  background: transparent;
}
.pricing-header > span {
  background: transparent;
}
.price {
  font-family: "Poppins", sans-serif;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 63px;
  width: 154px;
  top: 60px;
  right: 50px;
  color: #f9004d;
  background: linear-gradient(145deg, #e2e8ec, #fff) !important;
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #fff;
  border-radius: 8px;
  font-size: 30px;
  font-weight: 500px;
}

.pricing-infor {
  background: linear-gradient(145deg, #e2e8ec, #fff);
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #fff;
  height: 900px;
  border-radius: 5px;
}
.pricing-infor > p {
  font-size: 18px;
  height: 60px;
  width: 524px;
  margin-left: 50px;
  background: transparent;
}
.check-wrapper {
  background: transparent;
  display: flex;
}
.check-left {
  background: transparent;
}
.check-right {
  background: transparent;
  margin-left: 90px;
}
.check {
  display: flex;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 18px;
  background: transparent;
}
.check > p {
  margin-left: 9px;
  background: transparent;
}
.fa-check {
  color: #f9004d;
  background: transparent;
}
.check-wrapper {
  margin-top: 30px;
  background: transparent;
}
.pricing-footer {
  background: transparent;
}
.btn-order {
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 66px;
  width: 624px;
  margin-top: 100px;
  background: linear-gradient(145deg, #e2e8ec, #fff) !important;
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #fff;
  border-radius: 8px;
}
.btn-order > span {
  color: #f9004d;
}
.fa-arrow-right {
  margin-left: 10px;
  color: #f9004d;
}
.btn-order:hover {
  background: #f9004d !important;
  transition: 0.5s;
}
.btn-order:hover span {
  color: #ecf0f3;
  background: transparent;
}
.btn-order:hover .fa-arrow-right {
  color: #ecf0f3;
  background: transparent;
  transition: 0.7s;
}
.time-line {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-left: 20px;
  margin-top: 20px;
}
.time-line-left {
  background: transparent;
}
.time-line-left > svg {
  background: transparent;
}
.time-line-left > span {
  background: transparent;
}
.time-line-right {
  margin-left: 20px;
  background: transparent;
}
.time-line-right > svg {
  background: transparent;
}
.time-line-right > span {
  background: transparent;
}
/* Blog */
#Blog {
  padding: 100px 0;
  background-color: #ecf0f3;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.blog-title {
  text-align: center;
  font-family: var(--font-secondary);
  margin-bottom: 50px;
}

.blog-title .des-title {
  color: #f9004d;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.2;
  font-weight: 500;
}

.blog-title .main-title {
  color: var(--color-body-white);
  margin-top: 15px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
}

.item {
  padding: 5px;
  background-color: rgb(255, 251, 251);
  margin: 0px 10px 0px 10px;
  padding: 4% 4% 4% 4%;
  border-width: 2px 2px 2px 2px;
  border-radius: 4%;
  background: var(--gradient-box-w);
  box-shadow: var(--shadow-white-3);
  overflow: hidden;
}
.item img {
  height: 100%;
  width: 100%;
  transition: all 0.3s ease-in-out;
  border-radius: 4%;
}
.item p {
  color: black;
  display: inline-block;
  font-size: 27px;
  font-weight: 600;
  line-height: 34px;
  transition: var(--transition);
}
.item h1 {
  color: #f9004d;
  display: block;
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 17px;
}
.content:hover {
  color: #f9004d;
  transform: translateY(-3px);
  transition: 0.5s;
}

.item img:hover {
  transform: scale(1.2);
}
.item li {
  overflow: hidden;
  text-decoration: none;
  display: block;
}

.contentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.check-wapper {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
}
.contentHeader span {
  font-size: 13px;
  font-weight: 500;
}
.space {
  padding: 8% 10%;
}
.time-line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
/* Contact */
#contact {
  position: relative;
  border-top: 2px solid #e3e9ed;
}
.contact-title {
  text-align: center;
  font-family: var(--font-secondary);
  margin-bottom: 50px;
  margin-top: 50px;
}

.contact-title .des-title {
  color: #f9004d;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.2;
  font-weight: 500;
}

.contact-title .main-title {
  color: var(--color-body-white);
  margin-top: 15px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
}
.my-info {
  height: 800px; 
  background: linear-gradient(145deg, #e2e8ec, #fff) !important;
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #fff;
  border-radius: 10px; 
}
.my-info img {
  border-radius: 8px;
  margin-left: 25px;
  margin-top: 30px;
}
/* .my-info img:hover {
  transform: scale(1.1);
} */
.title-area {
  margin-left: 25px;
  margin-top: 25px;
  /* line-height: -10px; */
}
.title-area h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 29px;
  color: #1e2125;
}
.title-area span {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #3c3e41;
  margin-top: 20px;
}
.description {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #3c3e41;
  margin-left: 25px;
  margin-top: 25px;
}
.description p {
  display: inline-block;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
  margin: 0 0 40px;
}
.description span {
  display: block;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.phone {
  margin-top: 25px;
}
.phone a:hover {
  color: #ff014f;
  text-decoration: underline #ff014f;
  transition: 0.7s;
}
.mail a:hover {
  color: #ff014f;
  text-decoration: underline #ff014f;
  transition: 0.7s;
}
.description span a {
  text-decoration: none;
}
.social-area {
  margin-left: 25px;
}
/* Form contact */
.contact-input {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
  display: flex;
}
.container{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.contact-form-wrapper {
  background: var(--gradient-box-w);
  box-shadow: var(--shadow-white-3);
  border-radius: 10px;
  height: 100%;
  margin-left: 20px;
  padding: 30px;
}
.contact-form-wrapper .introduce {
  display: flex;
  justify-content: space-between;
}
.contact {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
form {
  margin: 0;
}
.col-lg-6 {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
  flex: 0 0 50%;
  max-width: 50%;
}
.col-lg-12 {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.form-group {
  margin-bottom: 20px;
}
.contact-form-wrapper label {
  display: block;
  font-family: var(--font-secondary);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 14px;
  text-align: left;
  text-transform: uppercase;
}
.form-group label {
  line-height: 22px;
}
.contact-form-wrapper input {
  background-color: #fdfefe;
  border: 2px solid #dadada;
  box-shadow: none;
  color: var(--color-body-white);
  font-family: var(--font-secondary);
  font-size: 14px;
  height: 55px;
  letter-spacing: 1px;
  padding: 0 15px;
  transition: var(--transition);
  border-radius: 6px;
}
.contact-form-wrapper textarea{
  background: #fdfefe;
  border: 2px solid #dadada;
  box-shadow: none;
  color: var(--color-body-white);
  font-family: var(--font-secondary);
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 18px;
  min-height: 235px;
  padding: 10px 15px;
  resize: none;
  transition: var(--transition);
}
.textarea .form-control{
  height: auto;
}
.form-control{
  display: block;
}
.btn-send{
  margin-left: 45px;
  margin-top: 20px;
  height: 54px;
  width: 200px;
  background: linear-gradient(145deg,#e2e8ec,#fff) !important;
  box-shadow: 5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.btn-send span{
  font-family: "Poppins",sans-serif;
  color: #F9004D;
  font-weight: 500;
  font-size: 14px;
}
.btn-send:hover {
  background: #F9004D !important;
  transition: .5s; 
}
.btn-send:hover span{
  color: #ecf0f3;
  background: transparent;
}
.btn-send:hover .fa-arrow-right{
  color: #ecf0f3;
  background: transparent;
  transition: .7s;
}

.footer{
  border-top: 1px solid #cacaca;
  height: 328px;
  text-align: center;
  justify-content: center;
  margin-top: 120px;
}
.logo{
  margin-top: 70px;
}
.footer>p{
  margin-top: 30px;
  font-family: "Poppins",sans-serif;
  font-size: 17px;
  line-height: 27.7px;
}
.footer>p>span>a{
  text-decoration: none;
}
.footer>p>span>a:hover{
  color: #ff014f;
  text-decoration: underline #ff014f;
  transition: .7s;
}

.btn-bar{
  display: none;
}
.fa-xmark{
  font-size: 20px;
}
.mobile-menu{
  background: linear-gradient(145deg,#e2e8ec,#fff) !important;
  box-shadow: 5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
  width: 50%;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  position: fixed;
  z-index: 2;
}
.menu-header>a>img{
  position: absolute;
  top: 20px;
}
.menu-top>p{
  margin-top: 100px;
}
.menu-nav{
  margin-top: 100px;
}
.nav-inner>li, .nav-inner>li>a{
  text-decoration: none;
  list-style-type: none;
}
.nav-inner>li{
  margin-left: 10px;
  margin-top: 30px;
}
.btn-close{
  margin-left: 90%;
  margin-top: 20px;
  cursor: pointer;
}
.model{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.btn-up>a>button{
  width: 60px;
  height: 60px;
  list-style-type: none;
  border-radius: 30px;
  border: none;
  background: #ecf0f3;
  box-shadow: 5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
  cursor: pointer;
  position: absolute;
  right: 40px;
  bottom: 120px;
  position: fixed;
}
.btn-home>a>button{
  width: 60px;
  height: 60px;
  list-style-type: none;
  border-radius: 30px;
  border: none;
  background: #ecf0f3;
  box-shadow: 5px 5px 15px #d1d9e6,-5px -5px 15px #fff;
  cursor: pointer;
  position: absolute;
  right: 40px;
  bottom: 40px;
  position: fixed;
}
.fa-arrow-up{
  font-size: 20px;
  color: #ff014f;
}
.fa-house{
  font-size: 25px;
  color: #ff014f;
}
.btn-up>a>button:hover ,.btn-home>a>button:hover{
  background: #ff014f;
  transition: .7s;
}
.btn-up>a>button:hover .fa-arrow-up, .btn-home>a>button:hover .fa-house{
  color: #fff;
  transition: .7s;
}


@media (max-width : 740px){
  .menu {
      display: none;
  }
  .admin-btn{
      display: none;
  }

  .member-1{
      margin-left: -60px;
      width: 150px;
  }
  .member-1>img{
      width: 150px;
  }
  .member-2{
      margin-left: 50px;
      width: 120px;
  }
  .member-2>img{
      width: 120px;
  }
  .member-3{
      margin-left: 120px;
      width: 150px;
  }
  .member-3>img{
      width: 150px;
  }
  .btn-bar{
      margin-left: 250px;
      display: block;
  }
  .home-right{
      top: 0;
      left: 0;
  }
  .home-left{
      top: 600px;
      position: absolute;
  }
  .titleweight{
      display: block;
  }
  .home-left>p{
      width: 60%;
  }
  .home-left-bestskills{
      position: absolute;
      left: 0;
      margin-top: 140px;
  }
  .resume{
      margin-top: 800px;
  }
  .resume-tab>ul>li>a{
      font-size: 13px;
  }
  .education-content{
      margin-left: -100px;
  }
  .experience-content{
      margin-top: 1170px;
      position: absolute;
      left: 50px;
  }
   .list{
      width: 370px;
  }
   .list .inner{
      width: 60%;
  }
  .list .inner>p{
      width: 200%;
  }
  .skils{
      position: relative;
  }
  .column-left{
      margin-left: -100px;
      width: 370px;
  }
  .column-right{
      position: absolute;
      width: 370px;
      margin-left: -100px;
      margin-top: 500px;
  }
  .client{
      margin-top: 750px;
  }
}