/* PC */
@media (min-width: 1024px){

}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px){

}

/* Mobile */
@media (max-width: 740px){
    #header{
        width: 100%;
        position: fixed;
        padding: 0px 0px;
        display: flex;
        align-items: center;
        justify-content: left;
        z-index: 1;
    }
    #header .nav-bar{
        display: block;
    }
    .members-logo img{
        height: 60px;
    }
    .members-logo:first-child img{
        height: 75px;
    }
    .member-2{
        margin-left: 60px;
    }
    .member-3{
        margin-left: 55px;
    }
    .menu{
        display: none;
    }
    .admin-btn{
        display: none;
    }
    .menu-bar-btn{
        width: 5%;
        display: flex;
        margin-left: 25%;
        justify-content: center;
        align-items: center;
        color: #ff014f;
        width: 60px;
        height: 60px;
        font-size: 20px;
        z-index: 1;
        cursor: pointer;
    }
    .introduce-content{
        flex-direction: column-reverse;
        border-bottom: none;
    }
    .intro-description{
        width: 100%;
        margin: 10px 0 0 0;
        padding-bottom: 50px;
    }
    .intro-description .first-line,
    .intro-description .second-line{
        font-size: 30px;
        line-height: 45px;
    }
    .intro-description .best-skills{
        padding-bottom: 50px;
        border-bottom: 1px solid #cfdee7;
    }
    .intro-description .find-me,
    .intro-description .best-skills{
        position: relative;
        margin-top: 30px;
    }
    .introduce-content .des-img{
        height: 400px;
        margin: 20px 0 0 25%;
    }
    /* Resume */
    #resume{
        padding: 50px 0;
    }
    .resume-list{
        flex-direction: column;
    }
    .resume-nav-inner li{
        font-size: 12px;
    }
    .resume-nav-inner .active{
        height: 88px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .resume-single-list{
        width: 210%;
    }
    .resume-list-section .heading .rating{
        top: 50%;
    }
    .resume-content .inner .branch-circle{
        right: 106%;
    }
    .proskills .progress{
        width: 200%;
    }
    /* Testimonial */
    .tes-slider{
        height: 950px;
        padding-bottom: 50px;
        border-bottom: 1px solid #cfdee7;
    }
    #testimonial .quotes-icon,
    .tes-card .branch,
    .tes-btn{
        display: none;
    }
    .tes-card .card-description,
    .tes-card .card-infor{
        width: 100%;
    }
    .tes-card .card-description{
        position: absolute;
        top: 500px;
        right: 0;
        left: 0;
        height: 300px;
    }
    .tes-card .card-infor{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }
    .tes-card .card-description .title{
        font-size: 20px;
    }
    .tes-card .card-description .rating{
        top: 36%
    }
    .tes-radio-btns{
        bottom: 5%;
    }
    /* Clients */
    .clients-content{
        width: 90%;
        flex-direction: column;
    }
    .clients-content .clients-navbar{
        width: 100%;
        margin-bottom: 50px;
    }
    .clients-navbar .inner{
        width: 100%;
    }
    .clients-navbar .inner li{
        height: 70px;
    }
    .clients-content .clients-infor{
        width: 100%;
        flex-direction: column;
        margin-left: 0;
    }
    .clients-infor .clients-list{
        width: 100%;
        padding: 0 0;
        display: flex;
        justify-content: space-between;
    }
    .clients-list .clients-single-list{
        width: 48%;
    }
    /* Pricing */
    .pricing-content{
        flex-direction: column;
    }
    .pricing-heading{
        width: 100%;
        padding-bottom: 30px;
        text-align: center;
    }
    .pricing-list{
        width: 100%;
        padding-bottom: 30px;
    }
    .pricing-single-list .price{
        width: 80px;
        height: 40px;
        font-size: 20px;
        top: 80px;
    }
    .pricing-single-list .time{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        text-align: center;
        bottom: -2%;
        left: 0;
    }
}